<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-white-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>
<div class="container mx-auto px-8 w-fit ">
  <h1 class="font-bold text-4xl text-blue-700 p-2 mb-3">Register</h1>
 <form action="/users" method="post" >

 <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

 <div class="mb-6">
 <label for="title" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Title</label>
 <select type="title" id="title" name="user[title]" >
    <option value="0">">Mr</option>
      <option value="1">">Mrs</option>
    </select>
</div>


 <div class="mb-6">
 <label for="full_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Full Name</label>
 <input type="full_name" id="full_name" name="user[full_name]" value="<%= @user.full_name %>"  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required=""/>
</div>

 <div class="mb-6">
  <label for="date_of_birth" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">D.O.B</label>
 <input type="date" id="date_of_birth" name="user[date_of_birth]" value="<%= @user.date_of_birth %>" class="w-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required="" />
</div>

 <div class="mb-6">
<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Your email</label>
 <input type="email" id="email" name="user[email]" value="<%= @user.email %>" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" placeholder="name@dynamic.it" required=""/>
</div>

 <div class="mb-6">
 <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">Password</label>
 <input type="password" id="password" name="user[password]" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required=""/><br />
</div>

 <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
 <input type="submit" value="Register">
 </button>
 </form>
</div>
